# SQL

SQL ist eine Datenbanksprache zur Definition von Datenstrukturen in relationalen Datenbanken sowie zum Bearbeiten (Einfügen, Verändern, Löschen) und Abfragen von darauf basierenden Datenbeständen.<br>
<br>
Man kann SQL-Datenbanken in Azure oder mit AWS hosten und so vielen Leuten Zugriff auf die Daten gewähren.<br>
Python und R bieten viele Pakete an um SQL Abfragen zu generieren(Dask und Pandas).<br>
SQL Datenbanken sind immer ähnlich wie Dataframes aufgebaut in Zeilen und Spalten.<br>
SQL ist eine Sprache um die Datenbanken abzufragen.<br>

## SQL Syntax

select (gebe Spalten der Tabelle an die du willst oder * für alle Spalte)<br>
from (wähle die Tabelle in der Datenbank aus)<br>
where (Eine Einschränkung der Daten wie z.B. <100)<br>
inner join (wähle eine Tabelle mit der gejoint werden soll) on (wähle Spalten für den join in beiden Tabellen)<br>
group by (erstelle Gruppen von einer Spalte)<br>
<br>
<a href='https://www.w3schools.com/sql/sql_syntax.asp'> weitere Befehle </a>

In [1]:
from sqlalchemy import create_engine # database connection
import pandas as pd
import time

Erstellen einer Datenbank mit SQLite. SQLite ist für lokale Datenbanken gebaut, im Gegensatz zu SQL Servern die irgendwo gehostet werden.

In [2]:
disk_engine = create_engine('sqlite:///taxi.db')

chunksize = Datenmenge auf einmal eingeladen in 10.000 Spalten

In [3]:
start = time.time()
chunksize = 10000
j = 0
index_start = 1

In [4]:
# loop durch die Datenmenge/CSV Zeile
# man kann auch eine zweite Datenbank mit nur 1000 Zeilen anlegen um die Daten in dieser DB anzugucken

In [5]:
for df in pd.read_csv(r'taxi_hunderttausend.csv', delimiter = ',', chunksize=chunksize,iterator=True,error_bad_lines=False):
    #index anknüpfen
    df.index += index_start
    j+=1
    #Information über Menge und Zeit
    print('{} seconds:', start-time.time(),' completed {} rows', j*chunksize)
    df.to_sql('taxi', disk_engine, if_exists='append')
    index_start = df.index[-1] + 1

{} seconds: -1.578157901763916  completed {} rows 10000
{} seconds: -3.2563257217407227  completed {} rows 20000
{} seconds: -4.657465696334839  completed {} rows 30000
{} seconds: -5.906590461730957  completed {} rows 40000
{} seconds: -7.0507049560546875  completed {} rows 50000
{} seconds: -7.997799634933472  completed {} rows 60000
{} seconds: -9.03190302848816  completed {} rows 70000
{} seconds: -9.87698769569397  completed {} rows 80000
{} seconds: -10.752074956893921  completed {} rows 90000
{} seconds: -11.52615237236023  completed {} rows 100000

SQL Datenbanken können als Dataframes in Dask und Pandas eingeladen werden.
Pandas kann auch SQL Befehle ausführen

In [6]:
expr = 'select * from taxi'
df = pd.read_sql_query(expr, disk_engine)
df

,index,No.,vendorid,pickup_datetime,dropoff_datetime,Store_and_fwd_flag,rate_code,Pickup_longitude,Pickup_latitude,Dropoff_longitude,...,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,Improvement_surcharge,Total_amount,Payment_type,Trip_type
0,1,1,1,03/12/2015 09:26:05 AM,03/12/2015 09:33:58 AM,N,1,-73.950478,40.826733,-73.971558,...,10.0,0.0,0.5,1.00,0.00,None,0.3,11.80,1,1
1,2,2,1,05/29/2015 03:27:07 AM,05/29/2015 03:45:28 AM,N,1,-73.914124,40.823772,-73.975517,...,23.0,0.5,0.5,0.00,0.00,None,0.3,24.30,2,1
2,3,3,2,11/24/2015 08:07:46 PM,11/24/2015 08:31:35 PM,N,1,-73.952751,40.727180,-73.971313,...,19.5,0.5,0.5,0.00,0.00,None,0.3,20.80,2,1
3,4,4,2,12/18/2015 06:46:25 PM,12/18/2015 06:53:06 PM,N,1,-73.960274,40.720379,-73.956093,...,6.5,1.0,0.5,2.00,0.00,None,0.3,10.30,1,1
4,5,5,2,09/22/2015 06:32:36 PM,09/22/2015 06:34:44 PM,N,1,-73.829956,40.713699,-73.823364,...,4.0,1.0,0.5,0.00,0.00,None,0.3,5.80,2,1
5,6,6,2,05/15/2015 08:42:44 PM,05/15/2015 08:56:03 PM,N,1,-73.964096,40.710148,-73.994087,...,13.5,0.5,0.5,0.00,0.00,None,0.3,14.80,2,1
6,7,7,2,09/02/2015 02:38:54 PM,09/02/2015 02:45:25 PM,N,1,-73.830490,40.759331,-73.843788,...,7.0,0.0,0.5,1.56,0.00,None,0.3,9.36,1,1
7,8,8,2,03/29/2015 04:56:26 AM,03/29/2015 05:36:26 AM,N,1,-73.955406,40.721008,-74.005081,...,29.0,0.5,0.5,6.06,0.00,None,0.3,36.36,1,1
8,9,9,2,05/30/2015 04:22:47 AM,05/30/2015 04:42:57 AM,N,1,-73.956276,40.721710,-73.906715,...,16.0,0.5,0.5,3.46,0.00,None,0.3,20.76,1,1
9,10,10,2,03/29/2015 01:46:20 PM,03/29/2015 01:56:56 PM,N,1,-73.954079,40.811382,-73.945732,...,9.0,0.0,0.5,0.00,0.00,None,0.3,9.80,2,1
10,11,11,2,08/30/2015 09:31:46 PM,08/30/2015 10:04:30 PM,N,1,-73.844215,40.721420,-73.858116,...,24.5,0.5,0.5,0.00,0.00,None,0.3,25.80,2,1
11,12,12,2,07/19/2015 02:26:44 AM,07/19/2015 02:35:13 AM,N,1,-73.880287,40.748055,-73.866486,...,7.0,0.5,0.5,0.00,0.00,None,0.3,8.30,2,1
12,13,13,2,12/31/2015 09:03:10 PM,12/31/2015 09:09:21 PM,N,1,-73.917191,40.769775,-73.909225,...,6.0,0.5,0.5,1.82,0.00,None,0.3,9.12,1,1
13,14,14,2,10/10/2015 02:22:23 AM,10/10/2015 02:28:03 AM,N,1,-73.845016,40.720352,-73.858124,...,6.0,0.5,0.5,1.46,0.00,None,0.3,8.76,1,1
14,15,15,1,05/06/2015 08:44:41 PM,05/06/2015 08:53:46 PM,N,5,-73.868523,40.742210,-73.867218,...,0.0,0.0,0.0,0.00,0.00,None,0.0,0.00,2,2
15,16,16,2,06/02/2015 11:50:25 AM,06/02/2015 12:15:20 PM,N,1,-73.956245,40.747505,-73.969193,...,18.0,0.0,0.5,0.00,0.00,None,0.3,18.80,2,1
16,17,17,2,07/15/2015 10:11:16 AM,07/15/2015 10:15:14 AM,N,1,-73.936516,40.759731,-73.947792,...,5.5,0.0,0.5,0.00,0.00,None,0.3,6.30,2,1
17,18,18,1,08/30/2015 10:20:18 AM,08/30/2015 10:28:03 AM,N,1,-73.992439,40.689571,-73.968742,...,7.5,0.0,0.5,1.65,0.00,None,0.3,9.95,1,1
18,19,19,1,11/21/2015 07:35:10 PM,11/21/2015 07:43:49 PM,N,1,-73.938423,40.791882,-73.948364,...,8.5,0.0,0.5,1.85,0.00,None,0.3,11.15,1,1
19,20,20,2,03/27/2015 12:57:02 AM,03/27/2015 01:12:57 AM,N,1,-73.955009,40.722370,-73.968163,...,14.0,0.5,0.5,3.06,0.00,None,0.3,18.36,1,1
20,21,21,2,06/06/2015 03:39:34 PM,06/06/2015 03:43:18 PM,N,1,-74.028748,40.622963,-74.039215,...,5.0,0.0,0.5,1.16,0.00,None,0.3,6.96,1,1
21,22,22,2,07/16/2015 04:06:43 PM,07/16/2015 04:16:12 PM,N,1,-73.983116,40.693367,-73.954773,...,8.5,1.0,0.5,0.00,0.00,None,0.3,10.30,2,1
22,23,23,2,03/20/2015 08:23:00 PM,03/20/2015 08:25:57 PM,N,1,-73.943291,40.708134,-73.944405,...,4.0,0.5,0.5,1.59,0.00,None,0.3,6.89,1,1
23,24,24,2,07/27/2015 02:21:58 PM,07/27/2015 02:33:22 PM,N,1,-73.950211,40.827045,-73.979424,...,12.0,0.0,0.5,2.56,0.00,None,0.3,15.36,1,1
24,25,25,2,03/11/2015 11:48:20 AM,03/11/2015 12:02:10 PM,N,1,-73.966980,40.705830,-73.978256,...,12.0,0.0,0.5,2.56,0.00,None,0.3,15.36,1,1
25,26,26,2,03/17/2015 08:11:41 PM,03/17/2015 08:14:56 PM,N,1,-73.844292,40.721626,-73.845299,...,4.5,0.5,0.5,0.00,0.00,None,0.3,5.80,2,1
26,27,27,2,12/03/2015 05:49:45 PM,12/03/2015 05:53:24 PM,N,1,-73.940704,40.819660,-73.948441,...,4.5,1.0,0.5,0.00,0.00,None,0.3,6.30,2,1
27,28,28,2,03/12/2015 05:58:06 PM,03/12/2015 06:07:00 PM,N,1,-73.941917,40.822742,-73.948189,...,8.0,1.0,0.5,0.00,0.00,None,0.3,9.80,2,1
28,29,29,2,11/25/2015 03:49:12 PM,11/25/2015 03:59:36 PM,N,1,-73.831512,40.759083,-73.834946,...,8.5,0.0,0.5,0.00,0.00,None,0.3,9.30,2,1
29,30,30,2,06/12/2015 06:17:40 PM,06/12/2015 06:32:03 PM,N,1,-73.860786,40.833641,-73.928329,...,16.5,1.0,0.5,0.00,0.00,None,0.3,18.30,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,549971,99971,2,10/02/2015 03:18:29 PM,10/02/2015 03:26:08 PM,N,1,-73.916862,40.761486,-73.909485,...,7.5,0.0,0.5,1.66,0.00,None,0.3,9.96,1,1
99971,549972,99972,2,08/12/2015 03:52:50 PM,08/12/2015 04:12:33 PM,N,1,-73.842972,40.840633,-73.893173,...,15.5,0.0,0.5,0.00,0.00,None,0.3,16.30,1,1
99972,549973,99973,2,09/16/2015 05:21:02 PM,09/16/2015 05:28:47 PM,N,1,-73.942657,40.799126,-73.961929,...,7.0,1.0,0.5,1.76,0.00,None,0.3,10.56,1,1
99973,549974,99974,2,10/04/2015 10:48:47 AM,10/04/2015 10:54:05 AM,N,1,-73.939751,40.794319,-73.942459,...,6.0,0.0,0.5,0.00,0.00,None,0.3,6.80,2,1
99974,549975,99975,2,10/16/2015 06:04:51 PM,10/16/2015 06:13:58 PM,N,1,-73.844284,40.721367,-73.850861,...,7.5,1.0,0.5,0.00,0.00,None,0.3,9.30,2,1
99975,549976,99976,2,06/28/2015 04:42:23 PM,06/28/2015 04:56:49 PM,N,1,-73.933548,40.802860,-73.865822,...,21.0,0.0,0.5,6.84,5.54,None,0.3,34.18,1,1
99976,549977,99977,1,12/29/2015 09:15:01 PM,12/29/2015 09:20:15 PM,N,1,-73.943825,40.825439,-73.944252,...,5.5,0.5,0.5,0.00,0.00,None,0.3,6.80,2,1
99977,549978,99978,1,05/30/2015 05:21:21 PM,05/30/2015 05:35:04 PM,N,1,-73.968559,40.693127,-73.952896,...,12.0,0.0,0.5,0.00,0.00,None,0.3,12.80,2,1
99978,549979,99979,2,04/07/2015 09:20:43 PM,04/07/2015 09:39:02 PM,N,1,-73.944832,40.808472,-73.923729,...,18.0,0.5,0.5,0.00,0.00,None,0.3,19.30,2,1
99979,549980,99980,2,03/25/2015 10:14:34 AM,03/25/2015 10:47:26 AM,N,1,-73.950951,40.724186,-74.005096,...,25.5,0.0,0.5,0.00,0.00,None,0.3,26.30,2,1
99980,549981,99981,2,06/10/2015 07:30:30 AM,06/10/2015 07:30:34 AM,N,1,-73.938934,40.653244,-73.938934,...,2.5,0.0,0.5,0.00,0.00,None,0.3,3.30,2,1
99981,549982,99982,2,12/12/2015 12:01:39 AM,12/12/2015 12:07:04 AM,N,1,-73.948463,40.794788,-73.935745,...,6.0,0.5,0.5,0.00,0.00,None,0.3,7.30,2,1
99982,549983,99983,2,06/09/2015 05:27:28 PM,06/09/2015 05:37:24 PM,N,1,-73.959229,40.708813,-73.966667,...,8.0,1.0,0.5,1.96,0.00,None,0.3,11.76,1,1
99983,549984,99984,2,07/05/2015 12:56:43 AM,07/05/2015 01:14:26 AM,N,1,-73.914925,40.760303,-73.861305,...,14.5,0.5,0.5,3.95,0.00,None,0.3,19.75,1,1
99984,549985,99985,2,08/08/2015 08:54:08 AM,08/08/2015 09:26:38 AM,N,1,-73.807945,40.700527,-73.957901,...,45.0,0.0,0.5,5.00,0.00,None,0.3,50.80,1,1
99985,549986,99986,2,03/13/2015 01:53:45 AM,03/13/2015 01:56:26 AM,N,1,-73.941017,40.680023,-73.929924,...,4.5,0.5,0.5,0.00,0.00,None,0.3,5.80,2,1
99986,549987,99987,2,09/16/2015 07:40:38 AM,09/16/2015 07:40:42 AM,N,5,-73.917831,40.659725,-73.918648,...,15.0,0.0,0.0,0.00,0.00,None,0.0,15.00,2,2
99987,549988,99988,2,09/19/2015 04:03:05 PM,09/19/2015 05:05:57 PM,N,1,-73.942024,40.798130,-73.843285,...,53.0,0.0,0.5,11.87,5.54,None,0.3,71.21,1,1
99988,549989,99989,2,09/08/2015 08:49:36 PM,09/08/2015 09:00:48 PM,N,1,-73.956039,40.713974,-73.923080,...,10.5,0.5,0.5,0.00,0.00,None,0.3,11.80,2,1
99989,549990,99990,2,10/02/2015 01:27:17 PM,10/02/2015 01:42:58 PM,N,1,-73.986671,40.702618,-73.988098,...,13.5,0.0,0.5,2.00,0.00,None,0.3,16.30,1,1
99990,549991,99991,2,04/16/2015 05:32:42 PM,04/16/2015 05:38:05 PM,N,1,-73.910545,40.776337,-73.924515,...,6.0,1.0,0.5,1.56,0.00,None,0.3,9.36,1,1
99991,549992,99992,2,05/24/2015 10:33:14 PM,05/24/2015 10:38:21 PM,N,1,-73.953148,40.817642,-73.944298,...,6.0,0.5,0.5,0.00,0.00,None,0.3,7.30,2,1
99992,549993,99993,2,03/03/2015 08:58:29 PM,03/03/2015 09:05:20 PM,N,1,-73.955818,40.818764,-73.943825,...,6.0,0.5,0.5,0.00,0.00,None,0.3,7.30,2,1
99993,549994,99994,2,05/25/2015 06:39:02 AM,05/25/2015 06:46:46 AM,N,1,-73.948318,40.798298,-73.926796,...,9.0,0.0,0.5,1.96,0.00,None,0.3,11.76,1,1
99994,549995,99995,2,05/13/2015 09:41:35 AM,05/13/2015 10:19:43 AM,N,1,-73.984436,40.684437,-73.992973,...,29.0,0.0,0.5,7.45,0.00,None,0.3,37.25,1,1
99995,549996,99996,2,12/19/2015 06:52:30 PM,12/19/2015 06:58:51 PM,N,1,-73.975449,40.674587,-73.960663,...,7.0,0.0,0.5,1.95,0.00,None,0.3,9.75,1,1
99996,549997,99997,2,03/04/2015 07:23:40 AM,03/04/2015 08:11:20 AM,N,1,-73.948959,40.805046,-73.868988,...,48.0,0.0,0.5,8.00,5.33,None,0.3,62.13,1,1
99997,549998,99998,1,09/27/2015 04:37:39 PM,09/27/2015 04:48:41 PM,N,1,-73.953552,40.744675,-73.901489,...,13.5,0.0,0.5,0.00,0.00,None,0.3,14.30,2,1
99998,549999,99999,2,08/09/2015 10:04:22 PM,08/09/2015 10:14:36 PM,N,1,-73.952805,40.676712,-73.958153,...,11.0,0.5,0.5,3.08,0.00,None,0.3,15.38,1,1
99999,550000,100000,2,03/02/2015 11:56:28 AM,03/02/2015 11:57:09 AM,N,1,-73.937569,40.758484,-73.937592,...,-2.5,0.0,-0.5,0.00,-9.75,None,0.3,-13.05,3,1

In [7]:
expr = '''select  pickup_datetime,dropoff_datetime,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude
from taxi
where Tip_amount >5'''
df = pd.read_sql_query(expr, disk_engine)
df

,pickup_datetime,dropoff_datetime,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude
0,03/29/2015 04:56:26 AM,03/29/2015 05:36:26 AM,-73.955406,40.721008,-74.005081,40.739941
1,12/11/2015 12:27:53 PM,12/11/2015 01:20:19 PM,-73.986786,40.702930,-73.979340,40.765141
2,06/06/2015 03:12:02 PM,06/06/2015 03:58:26 PM,-73.960449,40.659374,-73.995506,40.716160
3,03/11/2015 06:37:43 AM,03/11/2015 07:04:43 AM,-73.918549,40.742908,-73.789215,40.641716
4,09/06/2015 01:34:01 AM,09/06/2015 02:02:11 AM,-73.949570,40.654137,-73.837715,40.668934
5,08/22/2015 01:14:51 PM,08/22/2015 01:50:37 PM,-73.869202,40.734665,-73.783737,40.643631
6,05/08/2015 12:19:45 PM,05/08/2015 12:42:13 PM,-73.946228,40.824371,-73.865158,40.770554
7,04/23/2015 07:12:34 PM,04/23/2015 07:20:57 PM,-73.944130,40.700474,-73.945190,40.686844
8,06/15/2015 05:15:34 AM,06/15/2015 05:36:58 AM,-73.949509,40.695320,-73.872658,40.774612
9,10/23/2015 03:54:56 PM,10/23/2015 04:21:09 PM,-73.954872,40.718472,-73.977615,40.749817
10,06/18/2015 07:59:29 AM,06/18/2015 08:33:19 AM,-73.941071,40.792393,-73.990181,40.740437
11,11/14/2015 12:21:40 PM,11/14/2015 12:46:58 PM,-73.956879,40.745407,-74.006920,40.744038
12,08/19/2015 06:41:00 AM,08/19/2015 07:06:40 AM,-73.943008,40.840107,-73.872360,40.774334
13,04/30/2015 02:09:07 PM,04/30/2015 02:40:45 PM,-73.944633,40.753601,-74.014130,40.708111
14,03/13/2015 11:14:00 PM,03/13/2015 11:35:15 PM,-73.942879,40.823280,-73.937454,40.853287
15,05/11/2015 01:51:27 AM,05/11/2015 02:12:00 AM,-73.904045,40.754036,-73.863098,40.834957
16,03/14/2015 10:42:34 PM,03/14/2015 11:23:03 PM,-73.958847,40.721066,-73.994194,40.760860
17,08/30/2015 04:33:43 PM,08/30/2015 04:48:32 PM,-73.954330,40.821194,-73.990242,40.762390
18,09/19/2015 01:15:13 AM,09/19/2015 01:51:07 AM,-73.940834,40.712223,-73.949074,40.773228
19,06/30/2015 11:17:00 PM,06/30/2015 11:48:17 PM,-73.957344,40.814541,-73.983009,40.694923
20,11/27/2015 03:12:48 AM,11/27/2015 03:44:43 AM,-73.926476,40.703449,-73.959213,40.801643
21,08/26/2015 07:29:44 AM,08/26/2015 08:41:42 AM,-73.917999,40.765282,-74.006058,40.705181
22,08/08/2015 09:38:19 PM,08/08/2015 10:18:19 PM,-73.976715,40.683083,-73.947952,40.822857
23,09/17/2015 07:20:09 AM,09/17/2015 08:13:42 AM,-73.923164,40.767502,-74.007256,40.727833
24,04/25/2015 09:12:58 AM,04/25/2015 09:38:34 AM,-73.938965,40.816792,-73.929619,40.752666
25,04/09/2015 05:50:57 PM,04/09/2015 06:30:14 PM,-73.922577,40.682243,-73.864365,40.733082
26,07/26/2015 02:55:15 AM,07/26/2015 03:30:15 AM,-73.925995,40.701038,-73.942116,40.822742
27,06/02/2015 06:28:16 PM,06/02/2015 07:05:09 PM,-73.982849,40.692604,-73.965034,40.623573
28,05/30/2015 12:09:08 PM,05/30/2015 12:34:27 PM,-73.957481,40.718109,-73.978584,40.751320
29,11/19/2015 06:36:55 AM,11/19/2015 07:06:20 AM,-73.907120,40.753464,-74.002808,40.722279
...,...,...,...,...,...,...
4959,04/17/2015 11:16:34 PM,04/17/2015 11:47:27 PM,-73.941628,40.674625,-73.985054,40.741581
4960,10/11/2015 01:42:22 AM,10/11/2015 02:14:12 AM,-73.986786,40.678844,-73.959816,40.769466
4961,06/27/2015 04:03:06 PM,06/27/2015 04:54:26 PM,-73.949120,40.682663,-73.981148,40.746628
4962,08/16/2015 07:44:14 PM,08/16/2015 08:20:52 PM,-73.809258,40.698349,-73.965775,40.801369
4963,11/14/2015 11:18:50 AM,11/14/2015 11:49:52 AM,-73.976944,40.669750,-73.957008,40.766712
4964,05/17/2015 05:50:32 PM,05/17/2015 06:14:05 PM,-73.989021,40.669811,-74.002831,40.725025
4965,08/30/2015 12:07:29 AM,08/30/2015 12:36:29 AM,-73.936195,40.697620,-73.984138,40.671783
4966,07/16/2015 10:42:42 PM,07/16/2015 11:00:16 PM,-73.987335,40.679070,-73.962296,40.634712
4967,03/17/2015 04:12:54 PM,03/17/2015 04:57:09 PM,-73.973656,40.685966,-73.864983,40.770447
4968,04/21/2015 03:17:43 PM,04/21/2015 03:44:24 PM,-73.827133,40.712872,-73.913765,40.689346
4969,05/27/2015 08:26:56 AM,05/27/2015 09:10:02 AM,-73.969536,40.676857,-73.980881,40.746925
4970,04/22/2015 09:52:10 PM,04/22/2015 10:18:46 PM,-73.845154,40.754711,-73.995331,40.735935
4971,03/31/2015 04:31:02 PM,03/31/2015 05:13:18 PM,-73.953026,40.792095,-73.986359,40.745995
4972,07/22/2015 04:26:24 AM,07/22/2015 04:46:03 AM,-73.949112,40.828461,-73.864998,40.770462
4973,05/08/2015 11:44:19 PM,05/09/2015 12:27:21 AM,-73.883408,40.743111,-73.990669,40.757526
4974,05/31/2015 03:32:14 AM,05/31/2015 03:56:57 AM,-73.955269,40.720184,-73.938042,40.855392
4975,07/22/2015 11:30:36 PM,07/23/2015 12:10:51 AM,-73.926460,40.826839,-73.982086,40.740280
4976,09/24/2015 06:44:59 PM,09/24/2015 07:14:07 PM,-74.028252,40.623028,-73.981773,40.667019
4977,09/17/2015 09:54:32 AM,09/17/2015 10:12:08 AM,-73.942863,40.790165,-73.977913,40.741554
4978,09/07/2015 03:56:15 PM,09/07/2015 04:21:14 PM,-73.951645,40.713619,-73.985161,40.763844
4979,08/05/2015 10:06:46 PM,08/05/2015 10:34:21 PM,-73.928482,40.829430,-74.131065,40.962078
4980,05/10/2015 06:50:31 AM,05/10/2015 07:23:40 AM,-73.938789,40.844662,-73.782585,40.644012
4981,12/05/2015 12:03:26 PM,12/05/2015 12:32:20 PM,-73.849693,40.724632,-73.900284,40.700691
4982,04/04/2015 06:05:59 PM,04/04/2015 07:43:51 PM,-73.953171,40.640606,-73.863564,40.732174
4983,05/09/2015 10:46:18 PM,05/09/2015 11:24:00 PM,-73.951630,40.727432,-73.992157,40.743633
4984,09/07/2015 11:49:10 PM,09/08/2015 12:12:23 AM,-73.845932,40.754551,-73.969040,40.760845
4985,06/28/2015 04:42:23 PM,06/28/2015 04:56:49 PM,-73.933548,40.802860,-73.865822,40.770927
4986,09/19/2015 04:03:05 PM,09/19/2015 05:05:57 PM,-73.942024,40.798130,-73.843285,40.731621
4987,05/13/2015 09:41:35 AM,05/13/2015 10:19:43 AM,-73.984436,40.684437,-73.992973,40.747318
4988,03/04/2015 07:23:40 AM,03/04/2015 08:11:20 AM,-73.948959,40.805046,-73.868988,40.691032

# Blaze

The Blaze Ecosystem provides Python users high-level access to efficient computation on inconveniently large data. Blaze can refer to both a particular library as well as an ecosystem of related projects that have spun off of Blaze development.

Blaze kann verschiedene Datentypen(CSV,HDF,SQL,...) mit der selben Abfrage bearbeiten

In [8]:
from blaze import data, by, compute

C:\ProgramData\Anaconda3\lib\site-packages\odo\backends\pandas.py:94: FutureWarning: pandas.tslib is deprecated and will be removed in a future version.
You can access NaTType as type(pandas.NaT)
  @convert.register((pd.Timestamp, pd.Timedelta), (pd.tslib.NaTType, type(None)))
C:\ProgramData\Anaconda3\lib\site-packages\blaze\server\server.py:17: ExtDeprecationWarning: Importing flask.ext.cors is deprecated, use flask_cors instead.
  from flask.ext.cors import cross_origin

Data ist eine Bibliothek um Datenquellen zu öffnen. SQL,CSV...

In [9]:
table = data("sqlite:///taxi.db::taxi")

In [10]:
print(table.peek())

    index  No.  vendorid         pickup_datetime        dropoff_datetime  \
0       1    1         1  03/12/2015 09:26:05 AM  03/12/2015 09:33:58 AM
1       2    2         1  05/29/2015 03:27:07 AM  05/29/2015 03:45:28 AM
2       3    3         2  11/24/2015 08:07:46 PM  11/24/2015 08:31:35 PM
3       4    4         2  12/18/2015 06:46:25 PM  12/18/2015 06:53:06 PM
4       5    5         2  09/22/2015 06:32:36 PM  09/22/2015 06:34:44 PM
5       6    6         2  05/15/2015 08:42:44 PM  05/15/2015 08:56:03 PM
6       7    7         2  09/02/2015 02:38:54 PM  09/02/2015 02:45:25 PM
7       8    8         2  03/29/2015 04:56:26 AM  03/29/2015 05:36:26 AM
8       9    9         2  05/30/2015 04:22:47 AM  05/30/2015 04:42:57 AM
9      10   10         2  03/29/2015 01:46:20 PM  03/29/2015 01:56:56 PM
10     11   11         2  08/30/2015 09:31:46 PM  08/30/2015 10:04:30 PM

   Store_and_fwd_flag  rate_code  Pickup_longitude  Pickup_latitude  \
0                   N          1        -73.950478        40.826733
1                   N          1        -73.914124        40.823772
2                   N          1        -73.952751        40.727180
3                   N          1        -73.960274        40.720379
4                   N          1        -73.829956        40.713699
5                   N          1        -73.964096        40.710148
6                   N          1        -73.830490        40.759331
7                   N          1        -73.955406        40.721008
8                   N          1        -73.956276        40.721710
9                   N          1        -73.954079        40.811382
10                  N          1        -73.844215        40.721420

    Dropoff_longitude    ...      Fare_amount  Extra  MTA_tax  Tip_amount  \
0          -73.971558    ...             10.0    0.0      0.5        1.00
1          -73.975517    ...             23.0    0.5      0.5        0.00
2          -73.971313    ...             19.5    0.5      0.5        0.00
3          -73.956093    ...              6.5    1.0      0.5        2.00
4          -73.823364    ...              4.0    1.0      0.5        0.00
5          -73.994087    ...             13.5    0.5      0.5        0.00
6          -73.843788    ...              7.0    0.0      0.5        1.56
7          -74.005081    ...             29.0    0.5      0.5        6.06
8          -73.906715    ...             16.0    0.5      0.5        3.46
9          -73.945732    ...              9.0    0.0      0.5        0.00
10         -73.858116    ...             24.5    0.5      0.5        0.00

    Tolls_amount  Ehail_fee  Improvement_surcharge  Total_amount Payment_type  \
0            0.0       None                    0.3         11.80            1
1            0.0       None                    0.3         24.30            2
2            0.0       None                    0.3         20.80            2
3            0.0       None                    0.3         10.30            1
4            0.0       None                    0.3          5.80            2
5            0.0       None                    0.3         14.80            2
6            0.0       None                    0.3          9.36            1
7            0.0       None                    0.3         36.36            1
8            0.0       None                    0.3         20.76            1
9            0.0       None                    0.3          9.80            2
10           0.0       None                    0.3         25.80            2

    Trip_type
0           1
1           1
2           1
3           1
4           1
5           1
6           1
7           1
8           1
9           1
10          1

[11 rows x 23 columns]

Beispiel suche den sql Befehl für eine Pandas Abfrage

In [11]:
expr = table[table.Payment_type<20]
print(compute(expr))

SELECT taxi."index", taxi."No.", taxi.vendorid, taxi.pickup_datetime, taxi.dropoff_datetime, taxi."Store_and_fwd_flag", taxi.rate_code, taxi."Pickup_longitude", taxi."Pickup_latitude", taxi."Dropoff_longitude", taxi."Dropoff_latitude", taxi."Passenger_count", taxi."Trip_distance", taxi."Fare_amount", taxi."Extra", taxi."MTA_tax", taxi."Tip_amount", taxi."Tolls_amount", taxi."Ehail_fee", taxi."Improvement_surcharge", taxi."Total_amount", taxi."Payment_type", taxi."Trip_type"
FROM taxi
WHERE taxi."Payment_type" < ?

In [12]:
expr = by(table.Payment_type, amount=table.Total_amount.mean())
print(compute(expr))

SELECT taxi."Payment_type", avg(taxi."Total_amount") AS amount
FROM taxi GROUP BY taxi."Payment_type"

Blaze ist ein Interface um verschiedene Datenbanken/Speicher abzufragen. Es geht weniger darum wie die Daten im Speicher verarbeitet werden, sondern wie kann man alle möglichen Datentypen mit einem Pakage benutzen.
Blaze beinhaltet auch Dask für out of Ram Computation.

Für SQLite gibt es auch einen Browser um sich die Datenbanken anzeigen zu lassen, Tabellen als CSV ausgeben und nach Ergebnissen filtern

<img src='SQLiteDatabaseBrowserPortable.png'>